body {
  border-style: none;
  font-size: 30px;
  text-align: center;
  font-family: "Times New Roman",Times,serif;
  line-height: 30px;
  background-color: #9d2235;
  color: white;
}
h1 {
  border-style: none;
  font-size: 60px;
  color: white;
  /* background-color: #9d2235; */
  font-family: "Times New Roman",Times,serif;
  text-align: center;
  line-height: 30px;
}
h2 {
  border-style: none;
  font-size: 45px;
  color: white;
  font-family: "Times New Roman",Times,serif;
  text-align: center;
  line-height: 30px;
}
#spiedSeit {
  line-height: 30px;
  font-size: 30px;
  color: white;
  font-family: "Times New Roman",Times,serif;
}
th {
  text-align: left;
}

/* unstyled_submit_button klasi var piešķirt input elementam ar submit tipu, lai tas parādītos kā teksts, nevis poga. Pēc tam tiek atgrieztas dažas no atceltajām īpašībām. */
.unstyled_submit_button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}
.unstyled_submit_button:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.vote_btn {
  all: unset;
  cursor: pointer;
  color: rgba(0,0,0,0.3);
  text-shadow: 0 0 gray;
}
.vote_btn:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}
.unpressed_vote {
  /* color: gray; */
  text-shadow: 0 0 #333;
  /* background-color: gray; */
}
.pressed_vote.upvote_btn {
  /* color: purple; */
  text-shadow: 0 0 blue;
  /* background-color: purple; */
}
.pressed_vote.downvote_btn {
  /* color: purple; */
  text-shadow: 0 0 orange;
  /* background-color: purple; */
}
